<h1>YOU'RE MAKING A FUCKING BABY?!</h1>
<p><a id="boy-btn" class="male choice" href="#">It's a boy</a></p>
<p><a id="girl-btn" class="female choice" href="#">It's a girl</a></p>
<p><a id="fff-btn" class="neutral choice" href="#">Fuck gender</a></p>
