<p class="lead">YOU'RE MAKING A FUCKING BABY?!</p>
<p><a id="boy-btn" class="btn btn-lg btn-success" href="#">IT'S A BOY</a></p>
<p><a id="girl-btn" class="btn btn-lg btn-info" href="#">IT'S A GIRL</a></p>
<p><a id="fff-btn" class="btn btn-lg btn-warning" href="#">FUCK GENDER</a></p>
<div id="nameSelect"></div>
