<h1>YOU'RE MAKING A FUCKING BABY?!</h1>
<p><a id="boy-btn" class="male" href="#/boy">It's a boy</a></p>
<p><a id="girl-btn" class="female" href="#/girl">It's a girl</a></p>
<p><a id="fff-btn" class="neutral" href="#/fff">Fuck gender</a></p>
