<h1>YOU'RE MAKING A FUCKING BABY?!</h1>
<% if (gender == 'boy') { %>
    <p><a id="boy-btn" class="male" href="#/boy">It's a boy</a></p>
<% } %>
<% if (gender == 'girl') { %>
    <p><a id="girl-btn" class="female" href="#/girl">It's a girl</a></p>
<% } %>
<% if (gender == 'fff') { %>
    <p><a id="fff-btn" class="neutral" href="#/fff">Fuck gender</a></p>
<% } %>

<form id="lastNameForm">
    <div class="row">
        <div id="container" class="col-md-6 col-md-offset-3">
            <input type="text" placeholder="its last name">
            <button type="submit">name your fetus</button>
        </div>
    </div>
</form>
<h4>children with hyphens in their last names die alone.</h4>
