<p>
    <h2><%= quote %></h2>
    <span id="name-display">
        <%= firstName %> <%= lastName %>
    </span>
</p>

<p>
   <a id="giveMeAnother">that name sucks.  give me another.</a>
   <!-- TODO no names with A (no fucking As) -->
   <!-- TODO no biblical names (God is dead) -->
</p>
