<h2>You should name your fucking kid
    <h1><%= firstName %> <%= lastName %>.</h1>
<p>
   <a id="giveMeAnother">that name sucks.  give me another.</a>
   <!-- TODO no names with A (no fucking As) -->
   <!-- TODO no biblical names (God is dead) -->
</p>
